<?php
// @codingStandardsIgnoreFile
?>
<?php
/**
 * Create commentary form template
 *
 * @var $block \Omnys\Commentary\Block\Commentary\Create
 */
?>
<?php $cmModel = $block->getNewCommentary();
    if ($cmModel) : ?>
<div>
    <h3><?php echo $cmModel->getTitle(); ?></h3>
    <blockquote><?php echo $cmModel->getComment(); ?></blockquote>
    <p>
        <?php echo __('Email:'); ?>&nbsp;<?php echo $cmModel->getEmail() ?>
    </p>
</div>
    <?php else : ?>
<div>
    <h3><?php echo __('Comment not created'); ?></h3>
</div>
    <?php endif; ?>

<a href="<?php echo $block->escapeUrl($block->getBackUrl()); ?>"><?php echo __('Back'); ?></a>