<?php
/**
 * @var $block \Omnys\Commentary\Block\Commentary
 */
?>

<div class="omnys-commentary">
    <h2><?php echo __('This is a commentary extension!') ?></h2>
    <!-- See a sample model -->
    <?php \Zend_Debug::dump($block->getCommentaryModel()->getData()); ?>
    <!-- See a sample collection -->
    <?php \Zend_Debug::dump($block->getItems()->getData()); ?>

    <!-- See a sample collection iteration -->
    <?php $items = $block->getItems(); ?>
    <?php if ($items->getSize()) : ?>
        <?php foreach ($items as $item) : ?>
            <h3><?php echo $block->stripTags($item->getUsername()) . ' ' . __("says:"); ?></h3>
            <div>
                <blockquote><?php echo $item->getComment(); ?></blockquote>
                <p>
                    <?php echo __('Email:'); ?>&nbsp;<?php echo $item->getEmail() ?>
                </p>
            </div>
        <?php endforeach; ?>
    <?php endif; ?>
</div>

<div>
    <form class="form create commentary form-create-commentary" action="<?php /* @escapeNotVerified */ echo $block->getPostActionUrl() ?>" method="post" id="form-validate" enctype="multipart/form-data" autocomplete="off">
        <fieldset>
            <legend><?php echo __('Comment'); ?></legend>
            <div>
                <label for="title" class="label"><?php echo __('Title:'); ?></label>
                <input type="text" name="title" required />
            </div>
            <div>
                <label for="comment" class="label"><?php echo __('Comment:'); ?></label>
                <input type="text" name="comment" required />
            </div>
            <div>
                <label for="username" class="label"><?php echo __('Username:'); ?></label>
                <input type="text" name="username" required />
            </div>
            <div>
                <label for="email" class="label"><?php echo __('Email:'); ?></label>
                <input type="email" name="email" required />
            </div>
            <div>
                <input type="submit" value="<?php echo __('create comment'); ?>"/>
            </div>
        </fieldset>
    </form>
</div>