<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
?>
<?php
    $one = $block->getOne();
    $customers = $block->getCustomerCollection();
    $firstCustomer = $block->getCustomerCollection()->getFirstItem();
    $user = $block->getCustomerByEmail('mattia.sorgato@omnys.com');
?>

<h1>MODULE INSTANCE CREATED</h1>

<p><?php echo $one; ?></p>

<h3>Customers</h3>

<ul>
<?php foreach ($customers as $customer) : ?>
    <li><?php echo $customer->getData('email'); ?></li>
<?php endforeach; ?>
</ul>

<h4>First Customer</h4>
<p><?php echo $firstCustomer->getData('email'); ?></p>
<ul>
    <!--<li><span style="font-weight: bold">Nome:</span> <?php //echo $firstCustomer->getData('firstname'); ?></li>
    <li><span style="font-weight: bold">Cognome:</span> <?php //echo $firstCustomer->getData('lastname'); ?></li>
    <li><span style="font-weight: bold">Email:</span> <?php //echo $firstCustomer->getData('email'); ?></li>-->
</ul>

<h4 style="margin-top: 5rem"><?php echo $user->getData('firstname'); ?>'s data</h4>
<p><?php echo $user->getData('firstname'); ?></p>
<p><?php echo $user->getData('lastname'); ?></p>